.app_header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
}

.task_input{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    background: #f9f9f9;
    color: #000;
    border: 1px solid #dfe3e6;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 14px;
    width: 100%;
}

.error{
    color: red;
    Font-size: 14px ;
    position: relative;
    bottom: 5px;
}

.app_header > form{
    width: 40%;
}

.task_form_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.task_description{
    width: 100%;
    height: 36px;
    flex: 1;
    padding: 7px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 13px;
    resize: none;
   
}

.task_submit{
    font-size: 12px;
    font-weight: 500;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    padding: 3px 13px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.task_date{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.task_date_holder{
    width: 100%;
    flex: 1;
    height: 36px;
    padding: 7px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 13px;
}


/* Media Queries */

@media (max-width: 768px) {
    .app_header > form {
        width: 80%;
    }

    .task_input{
        width: 100%;
    }

    .task_form_bottom {
        gap: 10px;
    }

    .task_submit {
        position: relative;
        width: 100%;
        margin-left: 0;
    }
    .task_description{
        width: 40px;
    }
}

@media (max-width: 480px) {
    .app_header{
        display: flex;
        align-items: center;
        justify-content: center;
        

    }
    

    .task_input {
        font-size: 12px;
    }

    .task_description {
        font-size: 12px;
        position: relative;
        padding: 0;
        
    }

    .task_submit {
        font-size: 10px;
        height: 36px;
        padding: 3px 10px;
    }

    .task_date_holder {
        font-size: 8px;
    }

    .task_date label {
        display: none;
    }
}