.app {
  display: grid;
  grid-template-rows: 150px auto;
}

.app_main{
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;

}

.task_column{
  width:33.33%;
  margin: 20px

}

@media (max-width: 480px) {
  .app_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;
  }

  .task_column {
    width: 100%;
    margin: 10px 0;
  }
}